<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Employee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Data</a>
      </li>    
    </ul>
  </div>  
</nav>
<br>
<div class="container-fluid">
  <div class="row m-2">
    <div class="card col-md-3 shadow-lg border border-warning mx-2">
      <h3>Add Employee</h3>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% for i in t %}
          <!-- {{i.label_tag}} -->
            {{i}}
          {% endfor %}
          <div class="row my-2">
            <div class="col">
              <input type="reset" value="Clear" class="btn btn-outline-danger form-control">
            </div>
            <div class="col">
              <input type="submit" value="Subscribe" class="btn btn-outline-success form-control">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card col shadow-lg border border-danger h-100 mx-2">
      <h3>Employee data</h3>
      <div class="card-body">
        <table class="table table-hover">
          <tr class="bg-dark text-light">
            <th>Sno</th>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Actions</th>
          </tr>
          {% for i in h %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.epid}}</td>
              <td>{{i.ename}}</td>
              <td>
                <a href="{% url 'epdt' i.id %}" class="btn btn-outline-primary form-control col-sm-5">Edit</a>
                <a href="" class="btn btn-outline-danger form-control col-sm-5">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>