<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student Data</title>
	<style>
		#c
		{
			background-color: cadetblue;
			padding: 5px;
		}
		.d
		{
			color: white;
		}
		i{
			border: 1px solid green;
			background-color: red;
		}
	</style>
</head>
<body>
	<h1>College Name: <span id="c">{{e}}</span> Student Data</h1>
	<h4>Roll Number: <i class="d">{{a}}</i></h4>
	<h4>Name: <i class="d">{{b}}</i></h4>
	<h4>Year: <i>{{d}}</i></h4>
	<h4>Branch: <i>{{c}}</i></h4>
</body>
</html>